@import "common.scss";
.footer-download{margin-top:0!important;}

$fontMY: Microsoft YaHei;
@mixin box-sizing ($sizing) {
  -webkit-box-sizing:$sizing;
  -moz-box-sizing:$sizing;
  box-sizing:$sizing;
}
//@include box-sizing(border-box);
//@include  background-size(100%,100%);
@mixin  background-size($wsize,$hsize){
  -webkit-background-size:$wsize,$hsize;
  -moz-background-size:$wsize,$hsize;
  background-size:$wsize,$hsize;
}
.ren_info{
  padding-top: px2rem(45);
  //background:url("../images/xjk/list/t_bg.jpg") no-repeat;
  @include  background-size(100%,100%);
  .diban{
    position: relative;
    width:px2rem(750);
    height: px2rem(794);
    background: url("../images/xjk/list/diban.jpg") no-repeat center center;
    @include  background-size(100%,100%);
    .db_tit{
      text-align: center;
      font-size:px2rem(36);
      font-family:$fontMY ;
      color: #fff;
      position: absolute;
      width:px2rem(334);
      height:px2rem(62);
      line-height:px2rem(62);
      background:url("../images/xjk/list/dibanTit.png") no-repeat;
      @include  background-size(100%,100%);
      left:50%;
      margin-left: - px2rem(334/2);
      top:- px2rem(62/2);
    }

    .db_h{
      width:100%;
      @include box-sizing(border-box);
      padding: 0 px2rem(25);
      height:px2rem(460);
      .db_head_l{
        float: left;
        width:px2rem(291);
        height: 100%;
        position: relative;
        .img_box{
          position: absolute;
          width: px2rem(268);
          height:px2rem(268);
          top:px2rem(98);
          border-radius: 50%;
          border:px2rem(5) solid #d9dcdf ;
          @include box-sizing(border-box);
          img{
            display: block;
            width: 100%;
            height:100%;
            border-radius: 50%;
          }
        }
        .img_box1,.img_box2,.img_box3,.img_box4,.img_box5,.img_box6{
          img{
            background: #aec1c7;
          }

        }
        .img_box8,.img_box7{
          img{
            background: #bda6bb;
          }

        }
        .img_box11,.img_box9,.img_box10{
          img{
            background: #9dd5e1;
          }
        }
        .img_box14,.img_box12,.img_box13{
          img{
            background: #dcb9b9;
          }
        }
       .img_box18,.img_box15,.img_box16,.img_box17{
        img{
          background: #aabba4;
        }
        }
       .img_box19,.img_box20,.img_box21,.img_box22,.img_box23,.img_box24{
          img{
            background: #e6daa5;
          }

        }
      }
      .db_head_r{
        width:px2rem(409);
        float: left;
        height: 100%;
        //position: relative;
        .h_top{
          width:px2rem(409);
          border-bottom: 1px dashed #656565;
          padding-top: px2rem(74);
          position: relative;
          p{
            position: relative;
            padding-bottom: px2rem(24);
            color: #656565;
            font-size: px2rem(30);

            span{
              position: absolute;
              left:px2rem(206);
              color: #656565;
              font-size: px2rem(24);

              i{
                float: left;
                width: px2rem(22);
                height: px2rem(20);
                background:url("../images/xjk/list/star.png") no-repeat center center;
                margin-right:px2rem(9);
                @include  background-size(100%,100%);
              }
            }
          }
        }
        .h_bottom{
          font-size: px2rem(24);
          color:#656565 ;
          line-height:px2rem(36);
          padding-top: px2rem(30);
        }
      }
    }
    .db_b{
      width: 100%;
      //@include box-sizing(border-box);
      //padding: 0 px2rem(25);
      .db_body_l{
        float: left;
        width: px2rem(432);
        dt{
          height:px2rem(91);
          line-height:px2rem(91);
          color: #656565;
          font-size: px2rem(30);
          text-align: center;
          padding:px2rem(9) 0 px2rem(11) 0;
        }
        dd{
          width:50%;
          padding-left: px2rem(34);
          @include box-sizing(border-box);
          font-size: px2rem(24);
          color: #656565;
          line-height: px2rem(40);
          float: left;
          position: relative;
          em{
            position: absolute;
            left:px2rem(152);
            //height:  px2rem(40);;
          }
        }
      }
      .db_body_r{
        float: left;
        width: px2rem(318);
        dt{
          width: 100%;
          height:px2rem(91);
          line-height:px2rem(91);
          color: #656565;
          font-size: px2rem(30);
          text-align: center;
          padding:px2rem(9) 0 px2rem(11) 0;
        }
        dd{
          width: 100%;
          font-size: px2rem(24);
          color: #656565;
          line-height: px2rem(40);
          //text-align: center;
          padding-left: px2rem(66);
          @include box-sizing(border-box);
          position: relative;
          em{
            position: absolute;
            left:px2rem(208);
            //height:  px2rem(40);
          }
        }

      }
    }
  }

}
//人物信息结束
//skip info 开始
.skip_wrap{
  width:px2rem(750);
  background:url("../images/xjk/list/top-bg1.jpg") no-repeat top, url("../images/xjk/list/middle-bg2.jpg") repeat-y;
//url("../images/xjk/list/bottom-bg3.jpg") no-repeat bottom,
  @include  background-size(100%,100%);
  .skip_info,.tesu{
    width:100%;
    padding:px2rem(55) px2rem(25) 0 px2rem(25);
    @include box-sizing(border-box);
    h3{
      font-size: px2rem(32);
      color: #656565;
      font-family: $fontMY;
      border-bottom: 1px solid #9a998f;
    padding-bottom:px2rem(21);
    }
    .newsList{
      ul{
        padding-bottom: px2rem(74);
        li{
          width: 100%;
          padding-top:px2rem(31);
          padding-bottom:px2rem(17);
          overflow: hidden;
        .L_imgBox{
          float: left;
          width: px2rem(168);
          img{
            display:block;
            width:px2rem(100);
            height: px2rem(100);
          }
        }
          .R_txt{
            color: #656565;
            float: left;
            width:px2rem(532);
            strong{
              font-size: px2rem(30);
              font-weight: normal;
              padding-bottom: px2rem(16);
              display: block;
              width: 100%;
            }
            p{
              font-size: px2rem(24);
              line-height: px2rem(34);
            }
          }
        }
      }
    }
  }
  .tesu{
    h3{
      color: #d62020;
      border-bottom: 1px solid #d62020;
    }
  }
}

